@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMedium";
  src: local("Roboto"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: local("Roboto"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


 /* Variables */
 :root {
  --basic-gray:#A6A6A6;
  --dark-gray: #283136;
  --basic-green: #00CA74;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --basic-red: #FB565A;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --basic-yellow: #EFC849;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --medium-gray: #666666;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --gray: #888888;
  --border-gray: #B4B9BB;
  --border-light-gray: #D7DCDE;
  --name-dark-gray: #444444;
  --light-gray: #EEEEEE;
}

/* Global*/

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-gray);
  background-color: var(--basic-white);
  vertical-align: baseline;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main-navigation */

.main-navigation {
  background-color: var(--light-gray);
  }

.site-navigation,
.basket-navigation {
  font-family: "RobotoMedium", sans-serif;
  font-weight: 500;
  list-style: none;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
 }



/* user-navigation */

 .site-navigation a,
 .basket-navigation a {
   color: var(--basic-black);
   }

.site-navigation a:hover,
.basket-navigation a:hover {
 color: var(--basic-red);
 }

 .basket-navigation a:focus,
 .site-navigation a:focus {
 color: inherit;
 opacity: 0.3;
}

/* features */

 .features{
  background-color: var(--light-gray);
}
.main-feature {
  font-family: "RobotoMedium", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  font-weight: 500;
}
.feature-preview {
  color: var(--dark-gray);
  }

.feature-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-red);
 color: var(--basic-white);
}

.feature-button:hover{
   background-color: var(--medium-red);
   color: var(--basic-white);
}

.feature-button:focus {
 background-color: var(--dark-red);
 color: var(--basic-white);
 /* opacity: 0.3; */
}

/*  columns */

.columns {
list-style: none;
}

.webs,
.apps,
.presentations {
  font-family: "RobotoBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
   text-transform: uppercase;
 }

 .webs-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-red);
 color: var(--basic-white);
border-radius: 3px;
}

 .webs-button:hover {
   background-color: var(--medium-red);
   color: var(--basic-white);
 }
  .webs-button:focus {
 background-color: var(--dark-red);
color: var(--basic-white);
mix-blend-mode: normal;
/* opacity: 0.3; */
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

 .apps-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-green);
 color: var(--basic-white);
border-radius: 3px;
}

 .apps-button:hover{
   background-color: var(--medium-green);
   color: var(--basic-white);
 }
    .apps-button:focus {
 background-color: var(--dark-green);
 color: var(--basic-white);
 mix-blend-mode: normal;
/* opacity: 0.3; */
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

 .presentations-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-yellow);
 color: var(--basic-white);
border-radius: 3px;
}

 .presentations-button:hover{
   background-color: var(--medium-yellow);
   color: var(--basic-white);
 }
 .presentations-button:focus {
 background-color: var(--dark-yellow);
 color: var(--basic-white);
 mix-blend-mode: normal;
/* opacity: 0.3; */
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}
 /*  about  */
 .main-about {
  font-family: "RobotoMedium", sans-serif;
   font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  font-weight: 500;
 }
 .about-body {
  font-family: "RobotoBold", sans-serif;
   text-transform: uppercase;
   font-weight: 700;
 }

 .about-list {
   list-style: none;
 }
 .content-aside {
  font-family: "RobotoBold", sans-serif;
   font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
 }
 th {
  font-family: "RobotoBold", sans-serif;
   font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  font-weight: 700;
  }

 sup {
   font-size: 26px;
  line-height: 40px;
   color: var(--basic-black);
 }

 /* footer */

.footer-name-nerds {
  font-family: "RobotoBold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
}
.footer-address,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
   color: var(--medium-gray);
}

 .footer-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-red);
 color: var(--basic-white);
}

 .footer-button:hover {
   background-color: var(--medium-red);
   color: var(--basic-white);
 }
.footer-button:focus {
 background-color: var(--dark-red);
 color: var(--basic-white);
 /* opacity: 0.3; */
 }

 .footer-section {
  text-align: center;
 }
.footer-desc {
  font-family: "RobotoBold", sans-serif;
  font-size: 36px;
line-height: 36px;
 color: var(--basic-black);
 font-weight: 700;
}
.discount {
  font-size: 16px;
line-height: 22px;
 color: var(--name-dark-gray);
}


/* modal */
.modal{
background-color: var(--basic-white);
background-position: 0 0;
}

.main-modal {
  font-family: "RobotoBold", sans-serif;
  font-size: 45px;
line-height: 53px;
 color: var(--basic-black);
 font-weight: 700;
}
.modal h3 {
  font-family: "RobotoBold", sans-serif;
  font-size: 17px;
line-height: 18px;
 color: var(--basic-black);
 font-weight: 700;
}

 .comment,
 .modal-name-input,
 .modal-email-input {
 background-color: var(--basic-white);
border: 2px solid  var(--border-light-gray);
box-sizing: border-box;
border-radius: 3px;
font-size: 16px;
line-height: 18px;
 color: var(--name-dark-gray);
 mix-blend-mode: normal;
 opacity: 0.5;
 }

 .comment:hover,
 .modal-name-input:hover,
 .modal-email-input:hover {
 color: var(--name-dark-gray);
 border: 2px solid var(--border-gray);
 mix-blend-mode: normal;
 opacity: 0.5;
 }

.comment:focus,
 .modal-name-input:focus,
 .modal-email-input:focus {
 color: var(--name-dark-gray);
 border: 2px solid var(--basic-black);
 box-sizing: border-box;
  border-radius: 3px;
 }

 .modal-button {
  font-family: "RobotoMedium", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
 background-color: var(--basic-red);
 color: var(--basic-white);
 border-radius: 3px;
}

 .modal-button:hover{
   background-color: var(--medium-red);
   color: var(--basic-white);

 }
    .modal-button:focus {
 background-color: var(--dark-red);
 color: var(--basic-white);

 /* opacity: 0.3; */
}
